<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h1>Coming Soon</h1>
The online registering board will be released in the next month. For now you can email us for the registering to the following
<p>
<a href='mailto:learning@vanceinfo.com'>learning@vanceinfo.com</a>
</p>